{% extends 'base.html' %}
{% load staticfiles %}
{% block headertitle %}
    Writers
{% endblock %}

{% block title %}
    Videos
{% endblock %}

{% block content %}
    <div class="row">
        {% for v in videos %}

            <div class="col-md-4 portfolio-item">
                <div class="row">

                    <div class="col-md-4">
                    <div id ='pic' class="picture">
                        <img id ='pic' src="{{ MEDIA_URL }}{{ v.photo }}" alt="";
{#                             style="width: 100px; height: 150px; overflow: hidden; border-radius: 6px;#}>
                        </div>
                          <h4>
                             <a href="http://{{ v.url }}">{{ v.title|truncatechars:25 }}</a>
                         </h4>

                        <ul><a href="{% url 'writer_detail' writer_slug=v.writer.slug %}">{{ v.writer.name }}</a></ul>
{#                          <ul><p>{{ v.writer.bio|truncatechars:25 }}...</p>   </ul>#}
                </div>
            </div>
        {% endfor %}
    </div>
    </div>
{% endblock %}

