{% extends 'base.html' %}
{#{% load staticfiles %}#}
{% block headertitle %}
    Writers
{% endblock %}

{% block title %}
    Videos
{% endblock %}

{% block content %}
    <div class="row">
        {% for v in videos %}

            <div class="col-md-4 portfolio-item">
                <div class="row">

                    <div class="col-md-4">
                           <div id ='pic' class="picture2">
                        <img id ='pic' src="{{ MEDIA_URL }}{{ v.writer.photo }}" alt="";
                 ">
        </div>
                    </div>
                    <h3>
                        <a href="http://{{ v.url }}">{{ v.title }}</a>
                    </h3>
                    <ul>
                        <ul><a href="{% url 'writer_detail' writer_slug=v.writer.slug %}">{{ v.writer.name }}</a></ul>
                        <p>{{ v.writer.bio|truncatewords:25 }}...</p>

                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}