{% extends 'base.html' %}
{% load django_markdown %}

{#{% load staticfiles %}#}
{% block headertitle %}
    {{ writer.name }}
{% endblock %}

{% block title %}
    {{ writer.name }}

{% endblock %}
{% block content %}
    <div class="row">
        <a class="img-responsive" href="#">
            <img class="img-rounded" src="{{ MEDIA_URL }}{{ writer.photo }}" alt=""
                 style="width-max: 300px; height-max: 400px;">
        </a>
        <br>
        <br>
        {% for p in poems %}
            <div class="col-md-6 portfolio-item">
                <p>{{ p.name|markdown }}</p>
                <p>{{ p.body|markdown }}</p>
            </div>

            <br>
            </div>
            <br>

        {% endfor %}
    </div>
{% endblock %}