{% extends 'base.html' %}
{% load django_markdown %}

{#{% load staticfiles %}#}
{% block headertitle %}
    {{ writer.name }}
{% endblock %}

{% block title %}
    {{ writer.name }}
{% endblock %}

{% block content %}
    <div class="row">
           <div id ='pic' class="picture2">
                        <img id ='pic' src="{{ MEDIA_URL }}{{ writer.photo }}" alt="">
        </div>
        <br>
        <br>

        <div class="col-md-6 portfolio-item">
            <p>{{ writer.bio |markdown }}</p>
        </div>

        <br>
    </div>
    <br>

    </div>
{% endblock %}