{% extends 'base.html' %}
{% load django_markdown %}

{#{% load staticfiles %}#}
{% block headertitle %}
    {{ writer.name }}
{% endblock %}

{% block title %}
    {{ writer.name }}

{% endblock %}
{% block content %}
    <div class="row">
        <div id ='pic' class="picture2">
                        <img id ='pic' src="{{ MEDIA_URL }}{{ writer.photo }}" alt="";>
        </div>
        <br>
        <br>
        {% for p in poems %}
            <div class="col-md-6 portfolio-item">
                <p>{{ p.name|markdown }}</p>
                <p>{{ p.body|markdown }}</p>
            </div>

            <br>
            </div>
            <br>

        {% endfor %}
    </div>
{% endblock %}