{% extends 'base.html' %}
{#{% load staticfiles %}#}
{% block headertitle %}
    Writers
{% endblock %}

{% block title %}
    Writers
{% endblock %}

{% block content %}
    <!-- Projects Row -->
    <div class="row">
        {% for w in writers %}
            <div class="col-md-4 portfolio-item">

                <div class="col-md-4">
                    <a class="img-responsive" href="#">

                        <img class="img-rounded" src="{{ MEDIA_URL }}{{ w.photo }}" alt=""
                             style="width: 100px; height: 150px;">
                    </a>
                </div>

                <h4>
                    <a href="http://{{ w.url }}">{{ w.name|truncatechars:25 }}</a>
                </h4>
                <ul><a href="{% url 'writer_detail' writer_slug=w.slug %}">bio</a></ul>
                <ul><a href="{% url 'writer_poems' writer_slug=w.slug %}">poems</a></ul>
                <ul><a href="{% url 'writer_publications' writer_slug=w.slug %}">publications</a></ul>

            </div>
        {% endfor %}
    </div>

    <!-- /.row -->
{% endblock %}